<!DOCTYPE html>
<html>
<%- include('header')%>
    <body>
    <%- include('menu-nav')%>
    <div id="content">
        <div class="post">
            <h2 class="title"><p>Precios</p></h2>
            <div class="entry">
                <div id="precio1">
                    <h5>Menu completo</h5>
                    <p>5,10€</p>
                </div>
                <div id="precio2">
                    <h5>Plato único</h5>
                    <p>2,40€</p>
                </div>
            </div>
        </div>
        <div class="post">
            <h2 class="title"><p>Horario</p></h2>
            <div class="entry">
                <div id="horario">
                    <h5>Lunes a Miercoles 10:00-20:00</h5>
                    <h5>Jueves a Viernes 10:00-18:00</h5>
                    <h5>Sabado y Domingo Cerrado</h5>
                </div>
            </div>
        </div>
    </div>
    <div id="prog">
        <h2 id="titleProgress"><a href="#">Aforo</a></h2>
        <div id="progress">
            <span id="percent"><%= aforo %></span>
            <div id="bar" style="width: <%= aforo %>"></div>
        </div>
    </div>
    <div id="sidebar">
        <ul>
            <li>
                <h2>MENÚ</h2>
                <ul>
                    </br>
                    <li><b><p>Primeros:</p></b></li>
                    <li><p>Pollo asado</p></li>
                    <li><p>Bocadillo de tortilla</p></li>
                    <li><p>Rabas de calamar</p></li>
                    <li><p>Croquetas</p></li>
                    </br>
                    <li><b><p>Segundos:</p></b></li>
                    <li><p>Pasta con pesto o tomate</p></li>
                    <li><p>Arroz</p></li>
                    <li><p>Ensalada</p></li>
                    </br>
                    <li><b><p>Postre:</p></b></li>
                    <li><p>Fruta</p></li>
                    <li><p>Natillas</p></li>
                    <li><p>Arroz con leche</p></li>
                </ul>
            </li>
        </ul>
    </div>
    </body>
</html>
