<html>
<%- include('header')%>
<body>
<%- include('menu-nav')%>
<div>
    <div class="column izq"> Tu opinión es muy importante para nosotros. Por eso ya está abierto el proceso de encuentas sobre la actividad docente, para ayudarnos a mejorar.<br> ¡VOTA YA!</div>
    <div class="column medio"> ​En unos días entramos en el periodo de vacaciones, pero las circunstancias, tanto por la tendencia actual de la pandemia como por nuestras obligaciones institucionales, imponen continuar con la recopilación de datos y seguimiento de las distintas tipologías de casos a través de la aplicación COVID.</div>
    <div class="column dcha"> El CEU busca a estudiantes con habilidades en el popular videojuego <strong>Minecraft</strong>. Los 3 seleccionados tendrán la oportunidad de crear y desarrollar metaversos hasta el próximo 31 de Mayo </div>
</div>

<div class="imagen">
    <div class="column abajoizq"> <img src="/images/logo-ceu+.png" height="90" width="140"></div>
    <div class="column abajocentro"> <img src="/images/navidad.jpg" height="99" width="149"> </div>
    <div class="column abajocentro2"> <img src="/images/flamenco.jpg" height="99" width="149"> </div>
    <div class="column abajodcha"> <img src="/images/ski.jpg" height="99" width="149"> </div>
</div>

<div class="texto">
    <div class="column abajoizq1"> Los alumnos de 4º de informática desarrollan una aplicación web con numerosas funcionalidades.</div>
    <div class="column abajocentro1">Disfruta de la Navidad en Madrid con estos 3 planes que te proponemos:<br>1. Patinar sobre hielo. <br>2.Tour del Bernabeu. <br>3.Comer churros. </div>
    <div class="column abajocentro21">Acompáñanos al espectáculo ‘La Taberna: Una historia flamenca’ el próximo 18 de Enero.</div>
    <div class="column abajodcha1">El CEU organiza viaje de ski.<br> El 18 de Enero, después de los exámenes partiremos hacia Andorra para iniciar el viaje de ski de 2022. </div>
</div>

