<html>
<%- include('header')%>
<body>
<%- include('menu-nav')%>
<div>
    <div class="column izq"> El pasado sábado 27 de noviembre tuvo lugar en el campus de Montepríncipe la <strong>XXVII edición</strong> del cross rectora de nuestra universidad CEU San Pablo.</br>Más de 300 personas se dieron cita en el campus de Montepríncipe para poner a prueba su velocidad y destreza atlética.</div>
    <div class="column medio"> En su misión por acercar la naturaleza a todos los miembros de la comunidad universitaria, el Club de Montaña organizó el pasado sábado una salida por el <strong>Parque Nacional de la Sierra de Guadarrama.</strong></div>
    <div class="column dcha"> Pon a prueba tus habilidades en el <strong>Torneo de Mario Kart.</strong> Tras el exitoso campeonato de Fifa 22, el Club de Esports organiza una actividad en la que tendrás la oportunidad de demostrar tu pericia como piloto y de ganar un premio monetario. </div>
</div>

<div class="imagen">
    <div class="column abajoizq"> <img src="/images/brawl.png" height="100" width="148"></div>
    <div class="column abajocentro"> <img src="/images/arco.jpg" height="99" width="148"> </div>
    <div class="column abajocentro2"> <img src="/images/futbolSala.jpg" height="99" width="148"> </div>
    <div class="column abajodcha"> <img src="/images/ski.jpg" height="99" width="148"> </div>
</div>

<div class="texto">
    <div class="column abajoizq1"> El equipo de Brawl Stars formado por alumnos del CEU del grado de Informática, se clasifica para la final europea del campeonato de universidades.</div>
    <div class="column abajocentro1">Formación de iniciación básica al tiro con arco por parte de miembros de la Federación Madrileña de Tiro con Arco en grupos de seis personas.</div>
    <div class="column abajocentro21">Apúntate a la liga interna de <strong>fútbol sala</strong>. Pincha <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=7w4zNL4x0UySXqeQrHItME46oz57HLhNh8NK9Vwe2U5UMk1UUVkwVlBUM0NPTERMTFA1MEhQV0hERC4u"> aquí</a> para registrarte.</div>
    <div class="column abajodcha1">El CEU organiza viaje de ski.<br> El 18 de Enero, después de los exámenes partiremos hacia Andorra para iniciar el viaje de ski de 2022. </div>
</div>