<html>
<%- include('header')%>
<body>
<%- include('menu-nav')%>
<div>
    <div class=" column imgarriba"> <img src="/images/fiesta.png" height="98" width="148"></div>
    <div class=" column textoarriba"> <p> Celebra el fin de exámenes el día 18 de enero. Con motivo de la finalización de los exámenes habrá una fiesta en la sala Pokemon de Madrid.<br> <a href="https://www.google.com/maps/dir/40.4831156,-3.7333548/discotecas/@40.4618436,-3.7833531,13z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd41871b1a1ddd6d:0xe0b1f845707cf88d!2m2!1d-3.7666094!2d40.4612857" target="_blank">Ubicación</a></p></div>
</div>

<div>
    <div class="column imgcentro1"> <img src="/images/disfraces.jpg" height="98" width="148"></div>
    <div class=" column textocentro1"> <p> Os presentamos la fiesta de disfraces que se llevará a cabo el día 4 de febrero.<br> Con premio para el mejor disfraz!</p></div>
</div>

<div>
    <div class="column imgcentro2"> <img src="/images/ceu.png" height="98" width="148"></div>
    <div class=" column textocentro2"> <p>Con motivo del <strong>29º</strong> aniversario del CEU-San Pablo, el 23 de abril se hará un cóctel seguido de cena para todos los alumnos y antiguos alumnos.</p></div>
</div>

<div>
    <div class="column imgabajo"> <img src="/images/graduacion.jpg" height="98" width="148"></div>
    <div class=" column textoabajo"> <p> El 28 de mayo será la graduación de todos los alumnos que están finalizando sus estudios.<br> Con motivo del COVID solo podrán asistir los familiares más directos.</p></div>
</div>



