<!DOCTYPE html>
<html>
    <%- include('header')%>
    <body>
        <%- include('menu-nav')%>
        </br></br></br>
        <h1>CEU Objetos</h1>
        </br>
        <form method="post" class="contact-form" id="contactForm">
            <input type="text" name="title" id="title" placeholder="Título Queja" required>
            <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion" required>
            <button type="submit">Enviar</button>
            </br>
            </br>
        </form>
        <br>
    </body>
</html>