<!DOCTYPE html>
<html>
    <%- include('header')%>
    <body>
        <%- include('menu-nav')%>
        </div>
        <div class ="column left">
            <h1>CEU Subir Noticias</h1>
            <br>
            <form method="post" class="contact-form" id="contactForm">
                <input type="text" name="title" id="title" placeholder="Titulo" required>
                <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion" required>
                <button type="submit">Enviar</button>
                </br>
                </br>
            </form>
        </div>
    </body>
</html>