<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="topnav">
      <div class="logo">
        <img src="/images/logo-ceu+.png" />
      </div>
      <div class="right">
        <a href="/actualidad">CEU-Actualidad</a>
        <a href="/deportes">CEU-Deportes</a>
        <a href="/cafeteria">CEU-Cafetería</a>
        <a href="/logout">CEU-Finder</a>
        <a href="/quejas">CEU-Quejas</a>
        <a href="/fiestas">CEU-Fiestas</a>
        <a href="/tiempo">CEU-Tiempo</a>
        <a href="/logout">CEU-Objetos Perdidos</a>
        <a href="/logout">CEU-Mus</a>
        <div class="righttopnav">
          <a href="/logout">Cerrar Sesión</a>
          <a href="/profile">Mi perfil</a>
        </div>
      </div>
    </div>
  </body>
</html>
