<%- include('menu-nav')%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>¡Bienvenido <%= user.username%>!</p>
    <p>Para acceder al chat porfavor haz click <a href="#" onClick="window.open('chat','Chat','resizable,height=750,width=400'); return false;">aquí</a></p>
  </body>
</html>
