<!DOCTYPE html>
<html>
<head>
    <title>Tiempo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tiempo.css'>
</head>
<body>
<%- include('menu-nav')%>
<table class="tabla2">
    <thead>
    <caption>Enero 2021 tiempo en Montepríncipe</caption>
    <tr>
        <th>Lu</th>
        <th>Ma</th>
        <th>Mie</th>
        <th>Ju</th>
        <th>Vi</th>
        <th>Sá</th>
        <th>Do</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <b>1</b>
            <br>
            <img class="imagen" src="/images/nube.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 12º
            <br>
            <b>Min: </b> 5º
        </td>
        <td>
            <b>2</b>
            <br>
            <img class="imagen" src="/images/mixto.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 10º
            <br>
            <b>Min: </b> 5º
        </td>
    </tr>
    <tr>
        <td>
            <b>3</b>
            <br>
            <img class="imagen" src="/images/nube.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 11º
            <br>
            <b>Min: </b> 4º
        </td>
        <td>
            <b>4</b>
            <br>
            <img class="imagen" src="/images/nube.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 11º
            <br>
            <b>Min: </b> 14º
        </td>
        <td>
            <b>5</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 12º
            <br>
            <b>Min: </b> 4º
        </td>
        <td>
            <b>6</b>
            <br>
            <img class="imagen" src="/images/mixto.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 10º
            <br>
            <b>Min: </b> 2º
        </td>
        <td>
            <b>7</b>
            <br>
            <img class="imagen" src="/images/nube.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 8º
            <br>
            <b>Min: </b> 3º
        </td>
        <td>
            <b>8</b>
            <br>
            <img class="imagen" src="/images/nube.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 10º
            <br>
            <b>Min: </b> 4º
        </td>
        <td>
            <b>9</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 9º
            <br>
            <b>Min: </b> 1º
        </td>
    </tr>
    <tr>
        <td>
            <b>10</b>
            <br>
            <img class="imagen" src="/images/nube.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 9º
            <br>
            <b>Min: </b> 2º
        </td>
        <td>
            <b>11</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 11º
            <br>
            <b>Min: </b> 4º
        </td>
        <td>
            <b>12</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 11º
            <br>
            <b>Min: </b> 4º
        </td>
        <td>
            <b>13</b>
            <br>
            <img class="imagen" src="/images/nube.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 10º
            <br>
            <b>Min: </b> 3º
        </td>
        <td>
            <b>14</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 10º
            <br>
            <b>Min: </b> 2º
        </td>
        <td>
            <b>15</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 10º
            <br>
            <b>Min: </b> 2º
        </td>
        <td>
            <b>16</b>
            <br>
            <img class="imagen" src="/images/mixto.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 10º
            <br>
            <b>Min: </b> 2º
        </td>
    </tr>
    <tr>
        <td>
            <b>17</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 14º
            <br>
            <b>Min: </b> 3º
        </td>
        <td>
            <b>18</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 12º
            <br>
            <b>Min: </b> 3º
        </td>
        <td>
            <b>19</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 12º
            <br>
            <b>Min: </b> 4º
        </td>
        <td>
            <b>20</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 11º
            <br>
            <b>Min: </b> 3º
        </td>
        <td>
            <b>21</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 10º
            <br>
            <b>Min: </b> 2º
        </td>
        <td>
            <b>22</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 10º
            <br>
            <b>Min: </b> 3º
        </td>
        <td>
            <b>23</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 11º
            <br>
            <b>Min: </b> 3º
        </td>
    </tr>
    <tr>
        <td>
            <b>24</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 18º
            <br>
            <b>Min: </b> 4º
        </td>
        <td>
            <b>25</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 14º
            <br>
            <b>Min: </b> 5º
        </td>
        <td>
            <b>26</b>
            <br>
            <img class="imagen" src="/images/mixto.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 14º
            <br>
            <b>Min: </b> 7º
        </td>
        <td>
            <b>27</b>
            <br>
            <img class="imagen" src="/images/mixto.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 17º
            <br>
            <b>Min: </b> 11º
        </td>
        <td>
            <b>28</b>
            <br>
            <img class="imagen" src="/images/mixto.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 14º
            <br>
            <b>Min: </b> 6º
        </td>
        <td>
            <b>29</b>
            <br>
            <img class="imagen" src="/images/mixto.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 16º
            <br>
            <b>Min: </b> 10º
        </td>
        <td>
            <b>30</b>
            <br>
            <img class="imagen" src="/images/nube.png" height="60px" width="60px" />
            <br>
            <b>Max: </b> 12º
            <br>
            <b>Min: </b> 7º
        </td>
    </tr>
    <tr>
        <td>
            <b>31</b>
            <br>
            <img class="imagen" src="/images/sol.jpg" height="60px" width="60px" />
            <br>
            <b>Max: </b> 15º
            <br>
            <b>Min: </b> 6º
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>
