form{
    background: lightgray;
    padding: 5px;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
}
#input{
    flex-grow: 1;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }