.izq{
    width: 300px;
    height: 150px;
    border: 1px solid black;
    left: 50px;
    margin:53px;
    margin-top: 30px;
}
.medio{
    width: 300px;
    height: 150px;
    border: 1px solid black;
    margin: 53px;
    margin-top: 30px;
}
.dcha{
    width: 300px;
    height: 150px;
    border: 1px solid black;
    margin: 53px;
    margin-top: 30px;

}
.abajoizq{
    width: 150px;
    height: 100px;
    margin: 70px;
    margin-top: 70px;
    border: 1px solid black;
}
.abajocentro{
    width: 150px;
    height: 100px;
    margin: 70px;
    margin-top: 70px;
    border: 1px solid black;
}
.abajocentro2{
    width:150px;
    height:100px;
    margin:70px;
    margin-top:70px;
    border: 1px solid black;
}
.abajodcha{
    width: 150px;
    height: 100px;
    margin: 70px;
    margin-top:70px;
    border: 1px solid black;
}
.abajoizq1{
    width: 150px;
    height: 200px;
    margin: 70px;
    margin-top: 0px;
    border: 1px solid black;
}
.abajocentro1{
    width: 150px;
    height: 200px;
    margin: 70px;
    margin-top: 0px;
    border: 1px solid black;
}
.abajocentro21{
    width: 150px;
    height: 200px;
    margin: 70px;
    margin-top: 0px;
    border: 1px solid black;
}
.abajodcha1{
    width: 150px;
    height: 200px;
    margin: 70px;
    margin-top:0px;
    border: 1px solid black;
}
.column{
    float:left;
    margin-bottom: 0px;
}
.imagen{
    float:left;
    margin-left:70px;
}
.texto{
    float:left;
    margin-left: 70px;
}
