* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    color: #333;
    font-weight: 300;
}
.contact-form {
    width: 450px;
    margin: 25px auto;
    background-color: whitesmoke;
    padding: 25px 25px;
    border: 1px solid lightgray;
}
.contact-form input, .contact-form textarea {
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
    border: 1px solid lightgray;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-family: 'Open Sans', sans-serif;
}
.contact-form input:focus, .contact-form textarea:focus {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 255, 0.54);
}
.contact-form textarea {
    height: 150px;
}
.contact-form button {
    padding: 5px 20px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid tomato;
    background-color: tomato;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.contact-form button:hover {
    background-color: #fff;
    color: tomato;
}